:root {
    --background: rgb(24, 14, 56);
    --primary: hotpink;
    --light: #efefef;
}

body {
    background: var(--background);
    color: var(--light);

}

h1 {
    font-size: 250%;

}

h2 {
    font-size: 200%;

}

p {
    line-height: 135%;
}



header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.page-title {
    color: var(--primary);
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.justify-center {
    justify-content: center;

}

.card-column {
    width: 33.333%;
}
/* media queries */
/* tablet */
@media (max-width: 840px) {
    .card-column {
        width: 50%;
    }

}
/* mobile  */

@media (max-width: 767px) {
    .card-column {
        width: 100%;
    }
    
}

