:root {
    --background: rgb(24, 14, 56);
    --primary: hotpink;
    --light: #efefef;
}

body {
    background: var(--background);
    color: var(--light);

}

h1 {
    font-size: 250%;

}

h2 {
    font-size: 200%;

}

p {
    line-height: 135%;
}



header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.page-title {
    color: var(--primary);
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
    align-items: stretch;
   

}

.justify-center {
    justify-content: center;

}

.card-column {
    width: 31.33%;
    margin-bottom: 55px;
}

.card {
    border: 1.5px dashed var(--light);
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card h2, .card p{
    color: var(--primary);

}

.card p {
    margin-bottom: 15px;

}

.card-header {
    background-color: var(--background);
    position: absolute;
    top: -20px;
    left: 0;
    border: 1px solid var(--light);
    padding: 4px;
    
}

.code-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background: linear-gradient(45deg, var(--primary) 0%, #883860 100%);
    padding: 15px;
}






/* media queries */
/* tablet */
@media (max-width: 840px) {
    .card-column {
        width: 49%;
    }

}
/* mobile  */

@media (max-width: 767px) {
    .card-column {
        width: 100%;
    }
    
}

